# Logs
logs
*.log
npm-debug.log*

node_modules/

api/data/
api/history/

images/avatars/*
images/clothing/catalog/*
images/clothing/worn/*
images/furniture/catalog/*
images/furniture/customs/*
images/furniture/placed/*
images/temp/*

!/**/.gitkeep

auth.json
server.crt
server.key