<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HC > Clothing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://kit.fontawesome.com/53f17480e1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/view/clothing/clothing.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="images">
                        <div id="colorSelect" class="disabled">
                            <i class="fas fa-chevron-left" onclick="shiftColor(-1)"></i>
                            <p id="colorLabel"></p>
                            <i class="fas fa-chevron-right" onclick="shiftColor(1)"></i>
                        </div>
                        <div id="catalogImage">
                            <p id="catalogLabel">catalog</p>
                        </div>
                        <div id="wornImage">
                            <p id="wornLabel">worn</p>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <div class="custom-control custom-checkbox">
                        <label class="check">
                            <input type="checkbox" class="custom-control-input" id="cataloggable" disabled>
                            <label class="custom-control-label" for="cataloggable">purchasable via catalog</label>
                        </label>
                    </div>

                    <div id="fieldData">
                        <div id="nameField"><p>name: </p><p class="data" id="name"></p></div>
                        <div id="typeField"><p>type: </p><p class="data" id="type"></p></div>
                        <div id="valueField"><p>value: </p><p class="data" id="value"></p></div>
                        <div id="obtainedField"><p>obtained via: </p><p class="data" id="obtained"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../../js/editor.js"></script>
<script src="../../../js/request.js"></script>
<script src="../../../js/form.js"></script>
<script src="/view/clothing/clothing.js"></script>
</html>